<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surfing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div clas="container">
        <div class="jumbotron text-center">
            <h1>Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Reload Data</a></p>
        </div>

        <!-- Mars data -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <h3>{{ mars.news_p }}</h3>
                <p></p>
            </div>
        </div>
    </div>

</body>

</html>